@import './base.scss';
@import './rwd.scss';

body {
  font-family: $font;
  color: $primary-text-color;
  padding: 0;
  margin: 0;
  
  @include sm {
    font-size: 15px;
  }

  @include md {
    font-size: 22px;
  }

  @include lg {
    font-size: 25px;
  }

  @include xl {
    font-size: 28px;
  }

}

@import './nav.scss';