@import './base.scss';

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: whitesmoke;
  color: $primary-text-color;
  width: 25vw;

  min-height: 25vw;
  max-height: 35vw;

  border-top: 6px solid rgb(24, 73, 24);

  box-shadow: 5px 5px 5px #aaaaaa;
  padding: 0;

  img {
    width: 25vw;
    object-fit: cover;
    height: 6vw;
  }

  a {
    text-decoration: none;
    color: $primary-text-color;
    padding: 5px;
  }

  h3 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.6vw;
  }

  p {
    font-size: 1.5vw;
    margin-top: 0;
    text-align: justify;
    padding-left: 2vw;
    padding-right: 2vw;
    min-height: 8vw;
    color: gray;
  }
}

@media (max-width: 768px) {
  .card {
    width: 50vw;
    min-height: 50vw;
    p {
      font-size: 3.5vw;
    }

    a {
      font-size: 5vw;
      padding: 3vw;
    }
    h3 { 
      font-size: 4.6vw;
    }
  }
}
